/*
 * SAMSUNG EXYNOS7885 SoC device tree source
 *
 * Copyright (c) 2018 Samsung Electronics Co., Ltd.
 *		http://www.samsung.com
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
*/

/*
 * DVFS table, governor info, clock limits and thermal throttling moved to
 * exynos7885-mali_common.dtsi so every exynos7885 device gets them (they
 * were previously jackpotlte-only, leaving all other devices tableless).
 */
&mali {
};
